{% extends "base.html.twig" %}

{% block body %}

    <p>Pas dans la liste ?</p>
    <p>Ajoutez le !</p>
    <a href="{{ path('app_create_event') }}">Ajoutez un événement</a>

    <h1>Liste des événements</h1>

    <ul>
        {% for event in events %}
            <li>
                <strong>Nom :</strong><a href="{{ path('app_show_event', {id: event.id}) }}" > {{ event.name }} </a><br>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
