{% extends "base.html.twig" %}


{% block body %}
    <p>Pas dans la liste ?</p>
    <p>Ajoutez le !</p>
    <a href="{{ path('app_create_artist') }}">Ajoutez un artiste</a>

    <h1>Liste des artistes</h1>
    <ul>
        {% for artist in artists %}

            <li><a href="{{ path('app_show_artist', {id: artist.id}) }}">{{ artist.name }}</a></li>

        {% endfor %}
    </ul>
{% endblock %}
