{% extends 'base.html.twig' %}

{% block title %}Hello {{ name }}{% endblock %}

{% block body %}


    <h1>Vapeur</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Liste d'évenemnt enregisté :</p>
         {% for event in events %}
              <ul>
                  <a href="{{ path('app_show_event', {id:event.id}) }}">{{ event.name }}</a>
              </ul>
         {% else %}
             <li>Pas d'événement enregisté.</li>

         {% endfor %}
    {% else %}
        <p>Connectez vous</p>

    {% endif %}




{% endblock %}